.debug-header {
  position: absolute;
  inset: 0;
  margin: auto;
  height: fit-content;
  width: fit-content;
  font-size: 32px;
  padding: 8px;
  color: rgba(255, 255, 255, 0.1);
  border: solid 4px rgba(255, 255, 255, 0.1);
  text-align: center;
}
