.welcome-nav {
  display: flex;
  flex-direction: column;
}

.welcome-nav li,
.welcome-nav ul {
  display: block;
  padding-inline: 0;
  padding-block: 0;
}

.welcome-nav ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.welcome-nav button {
  width: 200px;
  text-wrap: wrap;
}
