:root {
  --header-height: 78px;
}

.main-header {
  border: solid 2px var(--secondary);
  width: 740px;
  max-width: 80vw;
  height: var(--header-height);
  text-align: center;
  display: flex;
  place-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main-header h1,
.main-header a {
  user-select: none;
}

.main-header a {
  text-decoration: none;
  color: inherit;
  padding: 4px;
}

.main-header a:hover {
  background: var(--secondary);
}

.main-header button {
  width: fit-content;
  height: fit-content;
}
