.student-card {
  width: 280px;
  border: solid var(--primary) 1px;
  padding: 8px;
}

.student-card p {
  margin: 0;
  text-align: center;
}

.student-card p:nth-child(1) {
  font-size: 32px;
  font-weight: 600;
  color: var(--accent);
  border-bottom: solid var(--primary) 4px;
}

