.student-list tbody {
  width: 100%;
  max-height: 260px;
  display: block;
  overflow: auto;
}

.student-list table {
  border-collapse: collapse;
  width: 100%;
  background: var(--background);
  border-bottom: 2px solid var(--secondary);
}

.student-list th,
.student-list td {
  border: 1px solid var(--secondary);
  padding: 10px 12px;
  text-align: left;
}

.student-list td {
  text-align: center;
}

.student-list th {
  background: var(--secondary);
  font-weight: bold;
  text-align: center;
}

.student-list tbody tr,
.student-list thead {
  display: table;
  width: 100%;
  table-layout: fixed;
}
